/*----- ------ ESTILOS DE LA PORTADA  ------ ------*/
*{
padding: 0;
margin: 0;
text-decoration: none;
list-style: none;
box-sizing: border-box;

  }
  body{
    font-family: montserrat;

  }
  /* menu pegajoso */
  .header{
    position: sticky;
    width: 100%;
    height: 80px;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
    box-sizing: border-box;
    top: 0px;
  }

  
  nav{
    background: black;
    height: 80px;
    width: 100%;
  }
  
  label.logo{
    color: #fbaf32;
    font-size: 25px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  }
  .logo-imagen{
      height: 100%;
  }
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: #fbaf32;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  a.active,a:hover{
    background: white;
    transition: .5s;
  }
/*---------- imagen de fondo ---------*/
  .imagen{
    width: 85pc;
        height: 500px;
        display: block;
        margin: auto;
        
    }   
  
/*--------- Galeria de Productos ----------*/ 

.titulo-galeria {
    text-align: center;
    height: 40px ;
}
/* ---- ----- ----- Carousel ----- ----- ----- */

h4, h2,small,a{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
.Carousel{
  width: 100%;
}
.Carousel h2{
  font-size: 26px;
  line-height: 38px;
  padding-bottom: 24px;
  opacity: .9;
  text-transform: uppercase;
  letter-spacing: 10px;
  text-align: center;
}

/* images */

.slick-list{
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
  height: 304px;
  padding: 10px 0px;
  margin: 0px auto;
  max-width: 90vw;
  overflow: hidden;
}
.slick-track{
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  transition: .5s ease-in-out;
}
.slick{
  position: relative;
  width: 275px;
  padding: 0 18px;
  float: left;
  box-sizing: border-box;
  display: flex;
  height: 100%;
}
.slick h4{
  position: absolute;
  z-index: 1;
  font-size: 22px;
  line-height: 23px;
  color: #fff;
  padding: 15px;
}
.slick h4 small{
  font-size: 15px;
  display: block;
}
.slick a img{
  object-fit: cover;
  height: 300px;
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.5);
  transition: .3s ease-in-out;
}
.slick a img:hover{
  opacity: .85;
} 

/* buttons */
 
.slick-arrow{
  border-radius: 30px;
  background-color: #fff;
  position: absolute;
  z-index: 4;
  width: 48px;
  height: 48px;
  text-align: center;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.15);
  border: 0;
  cursor: pointer;
}
.slick-arrow:focus{
  outline: 0;
}
.slick-arrow svg{
  width: 12px;
  height: 100%;
  color: rgba(0,0,0,.7);
}
.slick-prev{
  left: 0px;
}
.slick-next{
  right: 0px;
} 

/*-------- Informacion sobre la pagina ---------*/
  .footer1 {
    background-color:#fbaf32;
    width: 100%;
    height: 45px;
  }
  .boton {
    height: 35px;
    margin: 50px;
    margin-left: 44pc;
    color: #fbaf32;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    }
  .boton-color{
    color:#fbaf32; 
  }
  .footer {
    background-color:#fbaf32;
    width: 100%;
    height: 45px;
  }

    .imagen-logo{
        width: 40px;
        height: 40px;
        float: right;
        margin: 5px;
        
    }
    .parrafo {
        padding: 20px;
        font-size: 20px;
    }
    