
body{
  background-color: white;
}

header, .alert{
  z-index: 100;
}
.titulo1 {
  text-decoration: none;
  width: 100px;

  color: #fff;

}

.description{
  height: 25px;
  overflow: hidden;
  transition: height .3s ease-in .3s;
}
.description:hover{
  height: 80px;
}
.carrito{
  min-height: 80vh;
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
  
}
.table__productos{
  display: flex;
}
.table__productos > img{
  width: 9rem;
  object-fit: contain;
  border-radius: 6px;
  margin-right: 20px;
}
.button {
  height: 50px;
  margin-top: 10px;
  color: #fff;
  padding: 0;
  border: none;
  background: #fbaf32;
  cursor: pointer;
}
.button a{
  color: #fff;
  text-decoration: none;
}

.cambio{
    text-align: center;
    width: 100px;
    height: 45px;
    transition: all 0.5s ease;
    border-radius: 35px;
    border-style:double;
}
.nav-link{
    color: #fff;
  
  }
  .nav-link:hover{
    color: white;
  }
.cambio1{
  
     text-align: center;
    width: 100px;
    height: 45px;
    transition: all 0.5s ease;
    border-radius: 35px;
    border-style:double;
}
.cambio2{
    text-align: center;
    width: 100px;
    height: 45px;
    transition: all 0.5s ease;
    border-radius: 35px;
    border-style:double;
}
.cambio:hover{
  cursor: pointer;
  background: #fbaf32
}
.cambio1:hover{
  cursor: pointer;
  background: #fbaf32
}
.cambio2:hover{
  cursor: pointer;
  background: #fbaf32
}
.text{
  color: #fff;
}
.color{
  background-color: rgba(0, 0, 0, 0.897);
}
.text-center {
  color: #fbaf32;
}

.text-center .col{
  right: 5px;
  
}
.text-center1 {
  text-align: center;
  color: white;
}
.itemCartTotal{
  color: black;
  
  font-size: 250%;
  
}




.table__cantidad > input{
  width: 40px;
  border: none;
  outline: 0;
  font-size: 16px;
  font-weight: 700;
  margin-right: 30px;
  margin-bottom: 20px;
}
.hide, .remove{
  display: none;
}


  .detalle{
    background-color: coral;
  }
  
  .con {
    width: 100%;
    max-width: 1000px;
    margin: 1.6em auto; /*centro*/

    display: grid;/*organiza los elementos dentro del contendor*/
    gap: 1.6em; /*añadir un espacionado entre los contendores*/

    grid-template-columns: repeat(5,1fr);/*colocar las columnas */
}
a{
  color: #000;
  text-decoration: none;
  transition: all 0.5s ease;

}

a:hover{
  color: #fbaf32;
}
  .post{ 
    
    background:#fbaf32;
    color: #000000;
    height: 55px;
    font-weight: bold;
    padding: auto;
    text-align: center;
    text-justify: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
    grid-column: span 1;
}
.post:hover{
  cursor: pointer;
  color: #fbaf32;
  background: #fff;
}


/*-------- Informacion sobre la pagina ---------*/

footer{
  width: 100%;
  background: #202020 ;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
 
  
}

.container-footer{
  width: 100%;
  max-width: 1600px;
  margin: auto;
  padding: 40px;
  padding-left: 200px;
  padding-right: 200px;
}

.container-footer1{
  display: flex;
  justify-content: space-between;
}

.columna3{
  max-width: 350px;
}

.columna3 h1{
  font-size: 24px;
}

.columna3 p{
  font-size: 14px;
  color: #C7C7C7;
  margin-top: 20px;
}
.columna1, .h1{
  font-size: 14px;
  max-width: 500px;
  
}
.row2{
  margin-top: 20px;
  display: flex;
}
.row2 img{
  width: 36px;
  height: 36px;
}
.row2 label{
  margin-left: 20px;
  max-width: 400px;
}

.columna2 h1{
  font-size: 24px;

}
.columna2 .row{
  display:flex;
  margin-top: 20px;
}
.row a img{
  width: 36px;
  height: 36px;
}
.row a img:hover{
  background: #202020;
}
.row label {
  margin-top: 10px;
  margin-left: 10px;
}

.container-footer2{
  width: 100%;  
  background: #101010;
  text-align: center;
  padding: 20px;
}

.informacion a{
  text-decoration: none;
  color: #C7C7C7;
  text-align: center;
}
