.conte{
        background: #fff; /*fondo*/
        width: 90%;
        margin: 1.6em auto; /*centro*/
    
        display: grid;/*organiza los elementos dentro del contendor*/
        gap: 1em; /*añadir un espacionado entre los contendores*/
    
        grid-template-columns: repeat(2,1fr);/*colocar las columnas */
    }
    .parrafo {
        padding: 20px;
        font-size: 20px;
        text-align: center;
        color:grey;
    }
    .colu h1{
        font-size: 30px;
        color: #000;
      
     }
.aa{
    color: black;
}
     .colu{
        text-align: center;
        margin: 5.6em;
        gap: 1em;
        width: 90%;
        height: 90%;
    }
    .le{
        font-size: 20px;
    }
    .le{
        text-align:unset;
    }
   
    @media screen and (max-width: 768px){
        .header{
            text-align: center;
        }
        .conte {
            text-align: center;
        }
        .conte{
            grid-column: 1/-1;
            text-align: center;
        }
        .colu{
            grid-column: 1/-1;
            text-align: center;
        }
        .le{
            grid-column: 1/-1;
            text-align: center;
        }

    
    
    
    }